
<section id="cards">
    <!-- Cards introduce articles and experiments from {k} -->
    <div class="cards-container">
    <%# 
    Temporary Note:
    We are currently using Lorem placeholder text which will
    likely move to JSON for lightweight data interchange
    In Release v.0.0.6, we will integrate data from Postgres and Pinecone,
    replacing the temporary placeholders w content augmented by RAG
    %>
        <!-- Main card -->
        <div class="featured-card">
            <img src="images/cards/gardenwalk.png" alt="image of creator walking in the garden" loading="lazy">
            <h3>Card One: Cartão Um kjon-life</h3>
            <p>I'm baby normcore cupidatat ascot chicharrones forage sint semiotics tousled succulents ullamco waistcoat gluten-free. Austin hashtag anim cronut pork belly ethical vexillologist mixtape. YOLO tbh hot chicken, cob in chillwave in tilde butcher blog iceland neutra. XOXO jianbing humblebrag cloud bread PBR&B master cleanse scenester, salvia edison bulb. Shabby chic shaman yes plz, humblebrag wayfarers knausgaard la croix health goth ramps mustache.</p>
            <a href="https://github.com/kjon-life">I build stuff that just works.</a>
        </div>
        <!-- Secondary cards -->
        <div class="smaller-cards">
            <div class="card">
                <img src="images/cards/consumer_behavior.png" alt="image of consumer behavior" loading="lazy">
                <h3>Card Two: Cartão Dois AI hyperbole</h3>
                <p>Umami disrupt tumblr everyday carry. Consequat irony try-hard, in artisan anim locavore taiyaki Brooklyn lomo bitters esse succulents. Bitters pok pok before they sold out, authentic yr bespoke raw denim yes plz celiac iceland. Four dollar toast hashtag offal flannel, disrupt cupping swag jianbing celiac. Four loko listicle aesthetic sint artisan farm-to-table yes plz. Glossier gastropub YOLO yawn. This is a quasi-realistic exercise with Python for analyzing consumer behavior. It's based on "survey data." kjon · consumer behavior analyses
                </p>
                <a href="https://github.com/kjon-life/conjoint_analyses">Link to github/repo</a>
            </div>

            <div class="card">
                <img src="images/cards/rusty_crab.png" alt="image of rusty crab in a rose garden" loading="lazy">
                <h3>Card Three: Cartão Três</h3>
                <p>Stumptown subway tile fit vaporware bushwick put a bird on it. Cillum dolore cred lumberjock aliqua tumeric whatever chambray shabby chic salvia hashtag raw denim health goth. Eiusmod Brooklyn cardigan, godard scenester heirloom YOLO pork belly dolor cob. Succulents tumeric church-key hot chicken non, 8-bit woke godard pabst photo booth la croix drinking vinegar paleo. Authentic typewriter officia vaporware, asymmetrical mukbang pour-over deep v leggings tousled semiotics disrupt hot chicken. Banjo bodega boys slow-carb banh mi.</p>
                <a href="https://github.com/kjon-life/ztm-rust">Link to github/repo</a>
            </div>

            <div class="card">
                <h3>Card Four: Cartão Quatro</h3>
                <img src="images/cards/bluebirds_garden.png" alt="image of reputable blue hummingbird" loading="lazy">
                <p>Aliquip hot chicken intelligentsia dolore gastropub, bushwick pok pok godard bodega boys keffiyeh flannel dolore kickstarter. Keytar tofu elit ut. Exercitation synth cob skateboard. Shoreditch semiotics man braid, photo booth distillery selvage proident in. Bodega boys hammock fanny pack, pickled waistcoat dolore yawn listicle schlitz chicharrones. In lo-fi duis tousled cupping chia drinking vinegar cred wayfarers gatekeep seitan culpa ascot. It takes some work to establish reputation. This project is an ongoing exploration of reputation in a web3 context, beginning with an x clone in Rust.</p>
                <a href="https://github.com/kjon-life/promitto">Link to github/repo</a>
            </div>

            <div class="card">
                <h3>Card Five: Cartão Cinco</h3>
                <img src="images/cards/blue_hummingbird_orange_roses.png" alt="image of bluebirds picking roses" loading="lazy">
                <p>Prism austin tempor freegan, activated charcoal chia plaid pop-up sustainable small batch heirloom do chicharrones etsy four loko. Ascot sed biodiesel, blackbird spyplane tumblr pickled synth. Aute poke bodega boys lumberjock PBR&B green juice. XOXO enamel pin lo-fi deserunt DIY magna. Flannel intelligentsia vegan culpa. Building an API in Rust</p>
                <a href="https://github.com/kjon-life/zero2prod">Link to github/repo</a>
            </div>
        </div>
    </div>
</section>