<div class="card">
    <h3>Card Design</h3>
    <p>Using SCSS to generate cards.</p>
    <button class="button-primary">Get Connected</button>
    <button class="button-secondary">Learn More</button>
</div>

