<div class="color-box">base color</div>
<div class="color-box lighten-color">lighten color</div>
<div class="color-box darken-color">darken color</div>
<div class="color-box adjust-color">adjust color</div>
<div class="color-box scale-color">scale color</div>
<div class="color-box change-color">change color</div>
<div class="color-box mix-color">mix color</div>
<div class="color-box complement-color">complement color</div>
<div class="color-box greyscale-color">greyscale color</div>
<div class="color-box invert-color">adjust color</div>
<div class="color-box adjust-hue">adjust hue</div>
<div class="color-box opacify">opacify color</div>
