
    <div class="footer-container">
        <%# justify-content: start; %>
        <murphy>
            <img 
            class="footer-image"
            src="images/curious-pug-enterprise/curious-pug-light.png" 
            height="500"
            width="500"
            alt="one of the power elite, the pug rules by virtue of loyalty, charisma, and genuine self-esteem" /> 
        </murphy>
        <%# justify-content: end; %>
        <yumyum>
            <img 
            class="footer-image"
            src="images/inspirit/love-yum-light.png" 
            height="500"
            width="500"
            alt="one of the chill guardians, the cat loves by virtue of generosity, and and quid-pro-lap" /> 
        </yumyum>
        <div class="footer-text">
            <p>&#10084;&#65039; &copy; <%= new Date().getFullYear() %> k jon &middot; life </p>
        </div>
    </div>
