<footer>
    <p>&#10084;&#65039; &copy; <%= new Date().getFullYear() %> k jon life |&nbsp;</p>
    <p>a curious pug exploration of <a href="https://fly.io/">fly.io</a> &amp; <a href="https://codepen.io/josfabre/pen/poVpggP">codepen</a> by Jos Faber</p>
</footer>