<footer>
    <p>&#10084;&#65039; &copy; <%= new Date().getFullYear() %> k jon life |&nbsp;</p>
    <p>a curious pug exploration of <a href="https://fly.io/">fly.io</a> &amp; <a href="https://codepen.io/josfabre/pen/poVpggP">codepen</a> by Jos Faber</p>

</footer>
<div class="social-media-icons">
    <i class="fa-brands fa-facebook" title="Facebook"></i>
    <i class="fa-brands fa-instagram" title="Instagram"></i>
    <i class="fa-brands fa-x-twitter" title="X (Twitter)"></i>
    <i class="fa-brands fa-youtube" title="youtube"></i>
    <i class="fa-brands fa-github" title="GitHub"></i>
</div>