<footer>
    <p>&#10084;&#65039; &copy; <%= new Date().getFullYear() %> k jon life</p>
    <p>a curious pug exploration of the <a href="https://codepen.io/josfabre/pen/poVpggP">codepen</a> by Jos Faber</p>

  </footer>