<header>
    <img src="images/curious-pug-enterprise/curious-pug-light.png">
    <ul>
      <li><a href="#words">words</a></li>
      <li><a href="#quotes">quotes</a></li>
      <li><a href="#poetry">poetry</a></li>
      <li><a href="https://zcal.co/jonhwilliams">meet</a></li>
    </ul>
  
</header>