<head>
    <meta charset="utf-8">
  
    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
  
  </head>