<header>
  <ul>
    <!-- the nice thing about EJS is everything is JS so we can have little helpers-->
    <% articlesData.map(article => { %>
      <li><a href="#<%= article.slug %>"><%= article.title %></a></li>
    <% }) %>

    <li><a href="https://zcal.co/jonhwilliams">meet</a></li>
  </ul>
  <h1></h1>
</header>