
    <section id="intro">
        <!-- Media -->
            <div class="video-container">
                // autoplay requires muted
                <video autoplay loop muted>
                    <source src="media/mixkit-abstract-red-fabric-flowing-282-hd-ready.mp4">
                </video>
            </div>
        <!-- Overlay-->
            <div class="overlay">
                <h1>{k}</h1>
                <p>I help people build systems that work</p>
            </div>
    </section>
    

