        <!-- Gallery Section -->
        <section id="gallery">
            <div class="gallery-container">
                <div class="group">
                    <div class="image-box"><img src="images/gallery/astronaut.png" alt="astronaut in a gray room" loading="lazy"></div>
                    <div class="text-box">
                        <h3>Augmenting Knowledge</h3>
                        <p>Unleash the full potential of corporate knowledge. Seamless integration of enterprise data into internal functions of business.</p>
                    </div>
                </div>
                <div class="image-box tall"><img src="images/gallery/astronaut.png" alt="astronaut on a fallen asteroid" loading="lazy"></div>
                <div class="group">
                    <div class="text-box">
                        <h3>Revolutionizing Artistry</h3>
                        <p>Experience the precision of digital content creation in reinventing the way we tell stories.</p>
                    </div>
                    <div class="image-box"><img src="images/gallery/astronaut.png" alt="astronaut against the gray wall" loading="lazy"></div>
                </div>                                
                <div class="image-box tall"><img src="images/gallery/astronaut.png" alt="astronaut on the lunar toilet" loading="lazy"></div>
                <div class="group">
                    <div class="image-box"><img src="images/gallery/astronaut.png" alt="astronaut waiting for the scene to change" loading="lazy"></div>
                    <div class="text-box">
                        <h3>Innovative Implimentations</h3>
                        <p>Step into the future of dynamic account management. Our platform caters to the enterprise product leader, offering intuitive synthesis specific to their needs. We build for efficiency and delight.</p>
                    </div>
                </div>
            </div>
        </section>