<!-- div class="menu-icon" onclick="toggleMenu()">☰</div -->
<!-- Navigation -->
<header>
  <nav class="nav-wrapper">
    <div class="nav-left">
      <h1>{<span>k</span>}</h1>
    </div>
    <div class="nav-right">
      <div class="menu-icon" onclick="toggleMenu()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <div id="nav">
      <div class="strip"></div>
      <div class="strip"></div>
      <div class="strip"></div>
      <div class="strip"></div>
      <div class="strip"></div>
      <ul>
        <!-- <li><a href="#home" onclick="hideMenu()">Home</a></li>
        <li><a href="#about" onclick="hideMenu()">About</a></li>
        <li><a href="#gallery" onclick="hideMenu()">Gallery</a></li>
        <li><a href="#blog" onclick="hideMenu()">Blog</a></li>
        <li><a href="#contact" onclick="hideMenu()">Contact</a></li>
        kjon menu -->
        <li><a href="/" onclick="hideMenu()">home</a></li>
        <li><a href="intro" onclick="hideMenu()">intro</a></li>
        <li><a href="purpose" onclick="hideMenu()">purpose</a></li>
        <li><a href="cards" onclick="hideMenu()">projects</a></li>
        <li><a href="https://zcal.co/jonhwilliams" onclick="hideMenu()">meet</a></li>
      </ul>
    </div>
  </nav>
</header>