  <header>
    <!-- div class="hamburger" onclick="toggleMenu()">☰</div -->
    <nav class="navbar">
      <ul>
        <!-- navigation 
        <% articlesData.map(article => { %>
          <li><a href="#<%= article.slug %>"><%= article.title %></a></li>
        <% }) % -->
        <li><a href="home">home</a></li>
        <li><a href="intro">intro</a></li>
        <li><a href="purpose">purpose</a></li>
        <li><a href="https://zcal.co/jonhwilliams">meet</a></li>
      </ul>
    </nav>
  </header>