<section id="purpose">
    <div class="purpose-container">
        <div class="text-container">
            <h2>We should talk!</h2>
            <p>
                <span class="phrase">We build LLM systems which assist people solve for speed, utility, and delight.</span>
                <span class="phrase">We prompt enterprise data for knowledge managment.</span>
                <span class="phrase">We augment enterprise data with RAG solutions for contextual efficiency.</span>
                <span class="phrase">We write software which we use ourself.</span>
            </p>
        </div>
    </div>
</section>

