
    <section id="purpose">
        <div class="purpose-container">
            <div class="text-container">
                <h2>We should talk!</h2>
                <p>
                    <span class="phrase">We build LLM systems which assist people to solve for accuracy, speed, utility, and delight.</span>
                    <span class="phrase">We ground enterprise LLMs with traceability to the original factual source.</span>
                    <span class="phrase">We augment open source LLMs with domain-specific and proprietary data for contextual relevance.</span>
                    <span class="phrase">We write software which we ourselves, use.</span>
                </p>
            </div>
            <div class="button-group">
                <button class="button-primary" onclick="window.open('https://zcal.co/jonhwilliams', '_blank')">Let's talk</button>
                <button class="button-secondary" onclick="window.open('https://github.com/kjon-life/kjon-life/tree/d4')">Learn more</button>
            </div>
        </div>
    </section>

