<section id="purpose">
    <div class="purpose-container">
        <div class="text-container">
            <h2>We should talk!</h2>
            <p>
                <span class="phrase">We build LLM systems which assist people solve for speed, utility, and delight.</span>
                <span class="phrase">We prompt  enterprise data for management decision.</span>
                <span class="phrase">We augment enterprise data with RAG solutions for efficiency.</span>
                <span class="phrase">We write software which we use ourself.</span>
            </p>
        </div>
        <button class="button-primary">Let's talk</button>
        <button class="button-secondary">Learn more</button>
    </div>
</section>

