    <section id="socials">
        <div class="social-media-icons">
            <i class="fab fa-facebook" title="Facebook"></i>
            <i class="fab fa-instagram" title="Instagram"></i>
            <i class="fab fa-twitter" title="X (Twitter)"></i>
            <i class="fab fa-youtube" title="youtube"></i>
            <a href="https://github.com/kjon-life/kjon-life/tree/d4" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
