<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head_scss') %>

  <body>
    <main>
      <!-- Your main content goes here -->
      <%- include('partials/color_functions') %>
    </main>
  </body>
  </html>
