<h1 class="article">Oh no! </h1>
  <h2 class="">Our pug monster is taking a break.</h2>
<form>
  <label for="search">Snuffle for something tasty?</label>
  <input type="search" id="search" name="search" aria-label="Search">
  <button type="submit">Search</button>
</form>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
