<h1><%= message %></h1>
<h2><%= error.status %></h2>
<p>Oh no! Our pug monster is taking a break.</p>
<form>
    <label for="search">Remind us what you were sniffing out?</label>
    <input type="search" id="search" name="search" aria-label="Search">
    <button type="submit">Search</button>
  </form>
<pre><%= error.stack %></pre>
