// Modifies the scrollbar for the entire application
// _scrollbar.scss (in base folder)

// Variables for customization
$scrollbar-width: 10px;
$scrollbar-track-color: transparent;
$scrollbar-thumb-color: rgb(160, 160, 160);
$scrollbar-thumb-hover-color: gray;
$scrollbar-thumb-border-radius: 5px;
$scrollbar-thumb-min-height: 40px;

// Scrollbar styles
::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: $scrollbar-thumb-border-radius;
  min-height: $scrollbar-thumb-min-height;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-color;
}

// Add support for Firefox
::-moz-scrollbar {
  width: $scrollbar-width;
}

::-moz-scrollbar-track {
  background: $scrollbar-track-color;
}

::-moz-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: $scrollbar-thumb-border-radius;
  min-height: $scrollbar-thumb-min-height;
  transition: background-color 0.2s ease-in-out;
}

::-moz-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-color;
}

// Add support for Microsoft Edge
::-ms-scrollbar {
  width: $scrollbar-width;
}

::-ms-scrollbar-track {
  background: $scrollbar-track-color;
}

::-ms-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: $scrollbar-thumb-border-radius;
  min-height: $scrollbar-thumb-min-height;
  transition: background-color 0.2s ease-in-out;
}

::-ms-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-color;
}