// Color palette
$text-primary: #f5f3f5; /* dark text */
$text-secondary: #333333; /* light text */
$background-color: #f5f3f5; /* Alabaster - whitesmoke */
$primary-color: #150050; /* Navy Blue */
$secondary-color: #3f0071; /* Indigo */
$accent-color: #582707; /* Burnt Sienna */
$highlight-color: #c88304; /* Cadmium Orange */
// Complementary colors
$complementary-primary: #ffd700; // Gold
$complementary-secondary: #ffcccb; // Light Coral
$complementary-accent: #0072af; // Cerulean
// Hover, border colors
$border-color: scale-color($background-color, $lightness: -10%);
/* A neutral or slightly darker shade for borders */
$hover-color: darken($primary-color, 10%);
/* A lighter or darker version of the primary color for hover effects */
$shadow-color: grayscale($primary-color);
$shadow-color: darken($shadow-color, 20%);
/* A subtle shade for shadows 
    grayscale the primary, then darken */

$box-color: hsl(200, 50%, 50%);
$base-color: #0072af;

// Typography
$font-stack: 'Roboto', sans-serif;

// Breakpoints
$breakpoint-mobile: 760px;

html {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    min-height: 100vh;
    font-family: $font-stack;
}

  
// Nesting ------------------------------

// Navigation Bar
.navbar {
    background-color: $background-color;
    color: $text-secondary;
    padding: 1rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
            margin: 0 1rem;
            
            &:hover {
                color: darken($text-primary, 20%);
                cursor: pointer;
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        ul {
            flex-direction: column;
        }
    }
}