<div class="social-media-icons">
    <i class="fa-brands fa-facebook" title="Facebook"></i>
    <i class="fa-brands fa-instagram" title="Instagram"></i>
    <i class="fa-brands fa-x-twitter" title="X (Twitter)"></i>
    <i class="fa-brands fa-youtube" title="youtube"></i>
    <i class="fa-brands fa-github" title="GitHub"></i>
</div>