@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@300&display=swap");

:root {
  --text-color: #333333;
  --primary-color: #150050; /* Navy Blue */
  --secondary-color: #3f0071; /* Indigo */
  --accent-color: #582707; /* Burnt Sienna */
  --highlight-color: #c88304; /* Cadmium Orange */
  --background-color: #f5f3f5; /* Alabaster aka whitesmoke */
  /* box-shadow variables */
  --box-shadow-color: rgba(21, 0, 80, 0.6); /* secondary color with 60% opacity */
  --box-shadow-second-color: rgba(63, 0, 113, 0.6); /* secondary color with 60% opacity */
  --box-shadow-offset-x: 5px;
  --box-shadow-blur-radius: 5px;
  --box-shadow-ie-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
}

html {
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
  min-height: 100%;
}


.wrapper {
  width: 100%;
  background-color: var(--primary-color);
  position: relative;
}
.shadow1 {
  margin: 40px;
  background-color: var(--box-shadow-color); /* Needed for IEs */
  -moz-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur-radius) var(--box-shadow-color);
  -webkit-box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur-radius) var(--box-shadow-color);
  box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur-radius) var(--box-shadow-color);

  filter: var(--box-shadow-ie-filter);
  -ms-filter: var(--box-shadow-ie-filter);
  zoom: 1;
}
  
.shadow1 .box {
  color: var(--primary-color);
  position: relative; /* This protects the inner element from being blurred */
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  padding: 0px 20px 0px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: auto;
}
  
/* element selectors */
h1,
h2 {
  font-family: "Indie Flower", cursive;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  margin: 1em 0;
}

a {
  color: var(--highlight-color);
}

/* navigation */
/* older iOS won't render nested CSS*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color); /* Adjust the background color as needed */
  padding: 20px 0px 0px 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Add a subtle shadow for depth */
  z-index: 999; /* Ensure the header appears above other elements */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: x-large;
  font-weight: 500;
  font-style:oblique;
  text-align: center;
}

header img {
  max-width: 150px;
  height: auto;
  margin: 40px auto 0;
  padding: 1em;
}

header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header ul li:not(:last-child) {
  margin-right: 2em;
}

header ul li a {
  text-decoration: none;
  color: var(--highlight-color); /* link color */
}

header ul li:hover a {
  color: var(--primary-color); /* link color on hover */
  text-decoration: underline; /* underline on hover */
}

header ul li:visited a {
  color: var(--secondary-color); /* visited link color */
}

header ul li:active a {
  color: var(--accent-color);; /* active link color */
}

murphy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);

}

murphy img {
  max-width: 100%;
  height: auto;
  padding: 10em 0em 10em;
  border-radius: 50px;
  box-shadow:  var(--box-shadow-color),
             var(--box-shadow-second-color)
}


article {
  width: 100%;
  position: relative;
  margin-top: 88vh;
}

article:last-child {
  margin-bottom: 88vh;
}

article picture.backdrop {
  position: absolute;
  width: 100%;
  height: 99%;
  left: 0;
  top: 0;
}

article picture.backdrop img {
  width: 100%;
  height: 88%;
  object-fit: cover;
  object-position: bottom;
  filter: blur(90px) brightness(95%) contrast(70%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1.5) scaleY(1.14);
}

article .front {
  position: relative;
  max-width: 800px;
  margin: auto;
  text-align: center;
  transform: translateY(70px);
  box-sizing: border-box;
  padding: 20px;
  perspective: 100vh;
}

article .front::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 8px;
  bottom: 0;
  transform: translateY(-26px);
  left: 10%;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-color);
}

article .front img {
  margin-top: 160px;
  height: auto;
  width: 100%;
  box-shadow: var(--box-shadow-color), var(--box-shadow-second-color);
  position: relative;
}


article  h2 {
  animation-name: focus-in-contract;
  animation-duration: 3s;
  animation-timing-function: linear;
}

/* put the footer in it's own space */
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: var(--primary-color);
  color: (var(--highlight-color));
  position: relative;
  z-index: 333;
} 

/* alternative footer
footer {
  position: absolute;
  top: calc(100vh - 3em);
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #150050;
  color: #c88304;
  z-index: 333;
}
 */
.social-media-icons {
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  position: relative;
  top: 3em;
  text-align: center;
}

.social-media-icons i {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.social-media-icons i:hover{
  transform: scale(1.1);
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
    filter: blur(0);
    opacity: 1;
  }
}