@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@300&display=swap");

/* global */
body {
  font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 0.05em;
  /* overflow-x: hidden; */
  font-weight: 300;
  /* prevent the content being covered by the header */
  padding-top: 33px; /* Adjust the value based on the height of your header */
  /* create space for the footer */
  padding-bottom: 60px; /* Adjust the value based on the height of your footer */

}

/* element selectors */

/* class selectors */
.wrapper {
  width: 100%;
  background-color: #E9E7E8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; wrapper to have a minimum height equal to the viewport height, regardless of the content inside it. */
  position: relative;
}

.box {
  border: 1px solid #582707;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  height: auto;
}

a {
  color: #C88304;
}

h1,
h2 {
  font-family: "Indie Flower", cursive;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  margin: 1em 0;
}

/* navigation */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f3f5; /* Adjust the background color as needed */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  z-index: 999; /* Ensure the header appears above other elements */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  max-width: 10%;
  height: auto;
  margin: 20px auto 0;
}

header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header ul li:not(:last-child) {
  margin-right: 2em;
}

header ul li a {
  text-decoration: none;
  color: #C88304; /* Adjust the link color as needed */
}

/* articles, images, and the like */

article {
  display: flex;
  flex-direction: column;
  position: relative;

}

article picture.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

article picture.backdrop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: blur(90px) brightness(95%) contrast(70%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1.5) scaleY(1.14);
}

article .front {
  position: relative;
  max-width: 800px;
  margin: auto;
  text-align: center;
  transform: translateY(70px);
  box-sizing: border-box;
  padding: 20px;
  perspective: 800px;
  flex-grow: 1;
}

article .front::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 8px;
  bottom: 0;
  transform: translateY(-26px);
  left: 10%;
  background-color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

article .front img {
  margin-top: 160px;
  height: auto;
  width: 100%;
  box-shadow: 0 -60px 80px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}

article .front .info-backdrop {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100vw;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.4);
  transform: translate(-50%, calc(100% - 60px));
}

article .front .info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}

/* playing with nth-child rotations */
article:nth-child(even) .front::after {
  transform: translateY(-20px) rotatey(-10deg);
}

article:nth-child(even) .front img {
  transform: rotatey(-10deg);
}

article:nth-child(odd) .front::after {
  transform: translateY(-15px) rotatey(10deg);
}

article:nth-child(odd) .front img {
  transform: rotatey(10deg);
}

/* put the footer in it's own space */
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #150050;
  color: #c88304;
  z-index: 999; 
}

