$box-color: hsl(200, 100%, 50%);

.color-box {
  padding: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    border-radius: 8px;
    background: $box-color;
}

.lighten-color {
    background: lighten($box-color, 20%)
}

.darken-color {
    background: darken($box-color, 20%)
}

.adjust-color {
    background: adjust-color($box-color);
}

.scale-color {
    background: scale-color($box-color)
}

.change-color {
    background: change-color($box-color)
}

.mix-color {
    background: mix-color($box-color, white, 25%)
}

.complement-color {
    background: complement($box-color)
}

.greyscale-color {
    background: greyscale($box-color, 20%)
}

.invert-color {
    background: invert-color($box-color, 20%)
}

.adjust-hue {
    background: adjust-hue($box-color, 33)
}

.opacify {
    background: opacify($box-color, 1)
}
