/* Gallery Section -------------------- */
#gallery {
    @extend %section;

    .gallery-container {
        @include flex-center(column);
        height: 100vh;
        position: relative;
        top: 50px;
        z-index: 5000;


        @include tablet-horizontal-large {
            margin: 0 2.5%;
        }

        @include tablet-vertical {
            @include mobile-gallery-container(10vh);
        }

        @include smartphone-small {
            padding-bottom: 20vh;
        }

        @include smartphone-horizontal {
            margin: 0 2.5%;
            @include mobile-gallery-container(30vh);
        }
    }

    .image-box, .text-box {
        width: 300px;
        opacity: 0.5;
        transform: scale(0.95);
        margin-right: 10px;

        &:not(.tall) {
            height: 400px;
        }

        &.tall {
            height: 600px;
            animation: levitation 4s ease-in-out infinite;

            @include tablet-vertical {
                animation: none;
            }

            @include smartphone-horizontal {
                animation: none;
            }
        }

        @keyframes levitation {
            0%, 100% { transform: translateY(0); }
            50% { transform: translateY(-10px); }
        }

        img {
            object-fit: cover;
            border-radius: 10px;
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 1.1s;
            }
        }

        &.active {
            opacity: 1;
            transform: scale(1);
            transition: transform 0.9s ease, opacity 0.5s ease;
        }
    }

    .text-box {
        background: $background-color-alt;
        box-sizing: border-box;
        padding: 20px;
        width: 300px;

        h3 {
            color: $text-secondary;
        }
    }

    .image-box, .text-box {
        border-radius: 10px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        @include tablet-vertical {
            @include mobile-gallery-box(95%);
        }

        @include smartphone-horizontal {
            @include mobile-gallery-box(90%);
        }
    }
}