/*  Purpose section */
#purpose {
    @extend %section;
    height: 100vh;

    @include smartphone-horizontal {
        padding-top: 10vh;
        padding-bottom: 50vh;
    }

    .purpose-container {
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;

        h2 {
            font-size: clamp(2rem, 5vw, 3rem);

            @include tablet-horizontal {
                margin-left: 5%;
            }

            @include tablet-vertical {
                margin-left: 5%;
            }
        }

        p {
            width: 75ch;
            font-size: clamp(1rem, 5vw, 1.5rem);
            line-height: 1.5;

            @include tablet-horizontal {
                width: 90%;
                margin-left: 5%;
            }

            @include tablet-vertical {
                width: 90%;
                margin-left: 5%;
            }
        }


        .phrase {
            color: darken($text-primary, 40%);
            transition: color 1.0s ease;
        
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.9s;
                }
            }
        
            &.active {
                color: lighten($text-primary, 5%);
            }
        }
    }
}
